{% extends 'base.html.twig' %}
{% block body %}
{% if list is not defined or list is empty %}
<div class="row align-items-center" style="height: 100dvh; width: 100vw;">
    <div>
        <h1 class="text-danger text-center">Aucune remboursement disponible !</h1>
        <div class="text-center">
            <a class="btn btn-success" href="{{ path('remboursement_add') }}">Ajouter</a>
        </div>
    </div>


</div>
{% else %}

<div class="container" style="width: 98vw;">
    <div class="row mt-5">
        <h1 class="text-center">Liste des remboursements</h1>
    </div>
    <div class="row mt-5">
        <div class="col text-end"><a class="btn btn-success" href="{{ path('remboursement_add') }}">Ajouter</a></div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <table border="1" class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Bénéficiaire</th>
                        <th>Montant</th>
                        <th>Raison</th>
                        <th>Demandé en</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for remboursement in list %}
                    <tr>
                        <td>{{ remboursement.id }}</td>
                        <td>{{ remboursement.utilisateur.fullName }}</td>
                        <td>{{ remboursement.amount }}</td>
                        <td>{{ remboursement.reason }}</td>
                        <td>{{ remboursement.resquestAt|date('Y-m-d') }}</td>
                        <td>
                            <a class="btn btn-danger" href="{{ path('remboursement_remove', {id: remboursement.id}) }}"
                                data-turbo="false">Delete</a>
                            <a class="btn btn-info" href="{{ path('remboursement_update', {id: remboursement.id}) }}"
                                data-turbo="false">Edit</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>

{% endif %}
{% endblock %}